{% extends "base.html" %}{% load static %}
{% block metahead %}
    <title></title>
{% endblock %}

<!-- главный контент, показывает список доступных тестов. -->
{% block content %}

{% if request.user.is_authenticated %}
    {% for key in list_of_polls %}
    <p><a href="{{key.id}}">{{key}}</a></p>
    {% endfor %}
    <div style="height: 50px;"></div>
        
{% else %}
    <h2>Вы не авторизированы на портале.</h2>
    <p>авторизируйтесь или зарегистрируйтесь</p>
{% endif %}



{% endblock %}

<!-- скрипты -->
{% block script %}{% endblock %}