{% extends "base.html" %}{% load static %}
{% block metahead %}
    <title></title>
{% endblock %}

<!-- главный контент -->
{% block content %}
<h1 class="text-center">Авторизация на портале</h1>

<div class="w-50 mx-auto mt-5">
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <input class="form-control mt-3" type="text" name="login" placeholder="Логин">
        <input class="form-control mt-3" type="password" name="password" placeholder="password">
        <button type="submit" class="btn btn-primary btn-block mt-5">Авторизироватся</button>
    </form>
</div>
{% endblock %}

<!-- скрипты -->
{% block script %}{% endblock %}